@font-face {
    font-family: "Beba";
    font-display: swap;
    src: url(../fonts/BebasNeue-Regular.ttf);
}

body {
    overflow: hidden;
}

.wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.container {
    position: relative;
    width: 30%;
    height: 75%;

    background-color: rgba(0, 0, 0, 0.75);
}

.header {
    position: relative;
    width: 100%;
    height: 25%;

    background-color: crimson;
}

.players {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 75%;
    overflow-y: auto;
}

/* Scroll Bar */
.players::-webkit-scrollbar {
  width: 0.5vh;
}

.players::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #555;
}

.players::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 12px;
}

.players::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.players div {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column nowrap;
    width: 33.3%;
    height: 100%;
}

.players div span {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d3d3d3;
    font-size: 2.0vh;
    font-family: "Beba";
    margin: 2.5%;
}